# REMOTE HOST DEFINITION
define host {
    #use                     remote-linux-server
    max_check_attempts      3
    host_name               debian
    alias                   debian
    address                 192.168.122.164
}

# REMOTE HOST GROUP DEFINITION
define hostgroup {
    hostgroup_name         remote-linux-servers
    alias                  remote-linux-servers
    members                debian
}

define service {
    use                     local-service
    host_name               debian
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    max_check_attempts      3
}

define service {
    use                     local-service
    host_name               debian
    service_description     Root Partition
    max_check_attempts      3
    check_command           check_local_disk!20%!10%!/

}

define service {
    use                     local-service
    host_name               debian
    service_description     Current Load
    check_command           check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
    max_check_attempts      3
}

define service {
    use                     local-service
    host_name               debian
    service_description     HTTP
    check_command           check_http
    notifications_enabled   0
    max_check_attempts      3
}
